# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [6]:
# review the collections in our database
print(mongo.list_database_names())
db.list_collection_names

['admin', 'autosarus', 'classDB', 'config', 'epa', 'fruits_db', 'gardenDB', 'local', 'met', 'petsitly_marketing', 'travel_db', 'uk_food']

In [7]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [8]:
# Find the establishments with a hygiene score of 20
query ={'scores.Hygiene':20}
results = db.establishments.find(query)

# Use count_documents to display the number of documents in the result
Result_doc=establishments.count_documents  (query)
Result_doc
# Display the first document in the results using pprint
pprint(results[0])

{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6601f235cc03b55857aca8db'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [9]:
# Convert the result to a Pandas DataFrame
aggregated_df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(aggregated_df))
# Display the first 10 rows of the DataFrame
aggregated_df.head(10)

Rows in DataFrame:  41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,6601f235cc03b55857aca8db,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.276940,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,6601f235cc03b55857acac5c,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,6601f235cc03b55857acaf66,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.159270,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,6601f235cc03b55857acb154,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.102020,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,6601f235cc03b55857acb163,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,6601f235cc03b55857acbb02,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,6601f235cc03b55857acbd23,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.712167,51.535007,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,6601f236cc03b55857acd24e,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,6601f236cc03b55857acd692,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146450,51.185947,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,6601f237cc03b55857acdea4,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,51.570050,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [10]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
db.establishments.update_many({'RatingValue':{'$nin':['Pass','Awaiting Inspection','AwaitingInspection','Exempt','AwaitingPublication']}},[{'$set':{
                                "RatingValue" : {'$toInt':'$RatingValue'}
    
                              }    
                     }
    
                    ]    
                 )
query = {'LocalAuthorityName': {'$regex': "London"},'RatingValue': {'$gte': 4}}

results1 = list(db.establishments.find(query))

# Use count_documents to display the number of documents in the result
print(f'the number of documents found is {len(results1)}')
# Display the first document in the results using pprint
pprint(results1[0:1])

the number of documents found is 33
[{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
  'AddressLine2': 'Sheppy Kent',
  'AddressLine3': '',
  'AddressLine4': '',
  'BusinessName': "Charlie's",
  'BusinessType': 'Other catering premises',
  'BusinessTypeID': 7841,
  'ChangesByServerID': 0,
  'Distance': 4627.439467780196,
  'FHRSID': 621707,
  'LocalAuthorityBusinessID': 'PI/000025307',
  'LocalAuthorityCode': '508',
  'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
  'LocalAuthorityName': 'City of London Corporation',
  'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'ME12',
  'RatingDate': '2021-10-18T00:00:00',
  'RatingKey': 'fhrs_4_en-gb',
  'RatingValue': 4,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('6601f236cc03b55857acc2f6'),
  'geocode': {'latitude': 51.369321, 'longitude': 0.508551},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}]

In [11]:
# Convert the result to a Pandas DataFrame
london_df = pd.json_normalize(results1)
london_df.head()

# Display the number of rows in the DataFrame
london_df.count()
# Display the first 10 rows of the DataFrame
london_df.head(10)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,6601f236cc03b55857acc2f6,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,0.508551,51.369321,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,6601f236cc03b55857acc61c,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,0.249256,51.123623,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,6601f236cc03b55857acd169,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,0.561954,51.543831,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,6601f237cc03b55857acdf69,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,0.346337,51.464066,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,6601f237cc03b55857acdf6a,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,0.346325,51.464078,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,6601f237cc03b55857ace672,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,0.287555,51.504071,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,6601f238cc03b55857ad0780,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,0.069286,51.501121,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,6601f238cc03b55857ad0b47,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,0.048006,51.503733,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,6601f238cc03b55857ad0b61,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,6601f238cc03b55857ad0b62,294606,0,PI/000016185,WH Smith,Retailers - other,4613,London City Airport,Silvertown London,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [12]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.490142
longitude =0.08384

query = {'RatingValue': 5,'geocode.latitude': {'$gte': latitude*(1-degree_search),'$lte': latitude*(1+degree_search)},'geocode.longitude': {'$gte': longitude*(1-degree_search),'$lte': longitude*(1+degree_search)}}
fields = {'RatingValue': 1, 'BusinessName': 1,'geocode.latitude':1,'geocode.longitude':1}
sort = [('scores.Hygiene', 1)]

results2 = list(db.establishments.find(query,fields).sort(sort))
# Print the results
print(f'the number of documents found is {len(results2)}')
pprint(results2)

the number of documents found is 84
[{'BusinessName': 'Ancient and Brave',
  'RatingValue': 5,
  '_id': ObjectId('6601f236cc03b55857accd90'),
  'geocode': {'latitude': 51.011100769043, 'longitude': 0.0835950002074242}},
 {'BusinessName': 'Texaco Service Station',
  'RatingValue': 5,
  '_id': ObjectId('6601f237cc03b55857acecc8'),
  'geocode': {'latitude': 51.358485, 'longitude': 0.084469}},
 {'BusinessName': 'Eltham Green School Nursery Ltd',
  'RatingValue': 5,
  '_id': ObjectId('6601f237cc03b55857acfb52'),
  'geocode': {'latitude': 51.4484481811523, 'longitude': 0.0845770016312599}},
 {'BusinessName': "Gill's eells",
  'RatingValue': 5,
  '_id': ObjectId('6601f237cc03b55857acfb6e'),
  'geocode': {'latitude': 51.4488282, 'longitude': 0.0844461}},
 {'BusinessName': 'Monkey Puzzle Eltham',
  'RatingValue': 5,
  '_id': ObjectId('6601f237cc03b55857acfbab'),
  'geocode': {'latitude': 51.4504502, 'longitude': 0.084261}},
 {'BusinessName': 'Codfellas',
  'RatingValue': 5,
  '_id': ObjectId('6601f237cc03b55857acfbd4'),
  'geocode': {'latitude': 51.4503007, 'longitude': 0.0830596}},
 {'BusinessName': 'Olive Dining At Eastcote Primary School',
  'RatingValue': 5,
  '_id': ObjectId('6601f237cc03b55857acfda9'),
  'geocode': {'latitude': 51.464023, 'longitude': 0.084135}},
 {'BusinessName': 'The Old Mill',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad020b'),
  'geocode': {'latitude': 51.4817109, 'longitude': 0.0840959}},
 {'BusinessName': 'SD News & Mini Market',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad0292'),
  'geocode': {'latitude': 51.4827461242676, 'longitude': 0.0831020027399063}},
 {'BusinessName': 'East Plumstead Pre School',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad02ee'),
  'geocode': {'latitude': 51.4845542907715, 'longitude': 0.0836590006947517}},
 {'BusinessName': 'My Home (Plumstead)',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad030f'),
  'geocode': {'latitude': 51.4860247, 'longitude': 0.0843422}},
 {'BusinessName': 'Jhas Catering Services',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad03b2'),
  'geocode': {'latitude': 51.4900815, 'longitude': 0.0842824}},
 {'BusinessName': 'Wilson & Bay Coffee Club',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad03b4'),
  'geocode': {'latitude': 51.4897501, 'longitude': 0.0839053}},
 {'BusinessName': 'Suya Academy Ltd',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad03bf'),
  'geocode': {'latitude': 51.4901495, 'longitude': 0.0839974}},
 {'BusinessName': 'Breakfast Club',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad0470'),
  'geocode': {'latitude': 51.4950485229492, 'longitude': 0.0835620015859604}},
 {'BusinessName': 'The Real Deal',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad04ca'),
  'geocode': {'latitude': 51.4978398, 'longitude': 0.0844204}},
 {'BusinessName': 'Tasty African Restaurant',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad0be2'),
  'geocode': {'latitude': 51.541366, 'longitude': 0.083845}},
 {'BusinessName': 'Newbury Centre Filling Station',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad11dc'),
  'geocode': {'latitude': 51.5733, 'longitude': 0.08431}},
 {'BusinessName': 'Greengate SF Connect',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1200'),
  'geocode': {'latitude': 51.573905, 'longitude': 0.084193}},
 {'BusinessName': 'Suvai',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad12b5'),
  'geocode': {'latitude': 51.576945, 'longitude': 0.08361}},
 {'BusinessName': 'K F C',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad16a9'),
  'geocode': {'latitude': 51.592741, 'longitude': 0.083857}},
 {'BusinessName': 'La Boucherie Kosher',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad16ac'),
  'geocode': {'latitude': 51.592741, 'longitude': 0.083857}},
 {'BusinessName': 'Babar Saleem',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad16ad'),
  'geocode': {'latitude': 51.592741, 'longitude': 0.083856}},
 {'BusinessName': 'Epping Forest Foodbank',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1c88'),
  'geocode': {'latitude': 51.6479076, 'longitude': 0.0846616}},
 {'BusinessName': 'P A Sparks and Sons',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1c90'),
  'geocode': {'latitude': 51.64754, 'longitude': 0.083998}},
 {'BusinessName': "Hazel's Kitchen",
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad22cf'),
  'geocode': {'latitude': 51.7659932, 'longitude': 0.083562}},
 {'BusinessName': 'Buzzee Beez Pre-School Ltd',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad22d5'),
  'geocode': {'latitude': 51.7671, 'longitude': 0.084225}},
 {'BusinessName': 'Golden Swift Public House',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad22d6'),
  'geocode': {'latitude': 51.7671, 'longitude': 0.084225}},
 {'BusinessName': 'Limoncello',
  'RatingValue': 5,
  '_id': ObjectId('6601f237cc03b55857acf8cf'),
  'geocode': {'latitude': 51.430663, 'longitude': 0.083451}},
 {'BusinessName': 'The Plumstead Pantry',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad0229'),
  'geocode': {'latitude': 51.4817727, 'longitude': 0.083745}},
 {'BusinessName': 'Brew Station',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad0396'),
  'geocode': {'latitude': 51.4899426, 'longitude': 0.0846755}},
 {'BusinessName': 'Way 2 Save',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad0a72'),
  'geocode': {'latitude': 51.534412, 'longitude': 0.084018}},
 {'BusinessName': 'Sahara Parkside Ltd',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad0bc9'),
  'geocode': {'latitude': 51.541715, 'longitude': 0.084452}},
 {'BusinessName': 'Pizza Go Go',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad0be3'),
  'geocode': {'latitude': 51.541366, 'longitude': 0.083845}},
 {'BusinessName': 'Woodlands Infants and Junior School',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad0d76'),
  'geocode': {'latitude': 51.549147, 'longitude': 0.083754}},
 {'BusinessName': 'Just 4 Kids Pre-School',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad0e85'),
  'geocode': {'latitude': 51.55694, 'longitude': 0.083965}},
 {'BusinessName': 'Satt Caterers',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad0ee2'),
  'geocode': {'latitude': 51.560689, 'longitude': 0.084468}},
 {'BusinessName': 'Azad Food Centre',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad0ef5'),
  'geocode': {'latitude': 51.561497, 'longitude': 0.084549}},
 {'BusinessName': 'Aladdins',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad0f09'),
  'geocode': {'latitude': 51.560754, 'longitude': 0.083375}},
 {'BusinessName': 'Grilled Peri Peri',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad0f0a'),
  'geocode': {'latitude': 51.560754, 'longitude': 0.083375}},
 {'BusinessName': 'Dessertz',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad0ffc'),
  'geocode': {'latitude': 51.5649211, 'longitude': 0.0838927}},
 {'BusinessName': 'Kool Kidze Daycare',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad107b'),
  'geocode': {'latitude': 51.566577911377, 'longitude': 0.0835689976811409}},
 {'BusinessName': 'Russell Lodge',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1103'),
  'geocode': {'latitude': 51.569547, 'longitude': 0.083994}},
 {'BusinessName': 'Banana Leaf',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad11e5'),
  'geocode': {'latitude': 51.572941, 'longitude': 0.083759}},
 {'BusinessName': 'Day 1 (One)',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad11e6'),
  'geocode': {'latitude': 51.572941, 'longitude': 0.083759}},
 {'BusinessName': 'Fags & Mags',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad11fa'),
  'geocode': {'latitude': 51.573056, 'longitude': 0.083375}},
 {'BusinessName': 'McDonald’s',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad11ff'),
  'geocode': {'latitude': 51.573905, 'longitude': 0.084193}},
 {'BusinessName': "Vijay's Virasat Ltd",
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1238'),
  'geocode': {'latitude': 51.574378, 'longitude': 0.083897}},
 {'BusinessName': 'Aldi',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad123e'),
  'geocode': {'latitude': 51.5750684, 'longitude': 0.0844927}},
 {'BusinessName': 'Newbury Park Primary School',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1271'),
  'geocode': {'latitude': 51.575802, 'longitude': 0.084222}},
 {'BusinessName': "A's Nursery & Softplay Centre",
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1281'),
  'geocode': {'latitude': 51.5755201, 'longitude': 0.083435}},
 {'BusinessName': 'Horns Supermarket',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad12b7'),
  'geocode': {'latitude': 51.576946, 'longitude': 0.08361}},
 {'BusinessName': 'Nisa Local',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad12e5'),
  'geocode': {'latitude': 51.577906, 'longitude': 0.083698}},
 {'BusinessName': "Bella's Coffee",
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1650'),
  'geocode': {'latitude': 51.5910720825195, 'longitude': 0.0831310003995895}},
 {'BusinessName': 'Ruta',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad165d'),
  'geocode': {'latitude': 51.591695, 'longitude': 0.083549}},
 {'BusinessName': 'Quidsaver',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad16a7'),
  'geocode': {'latitude': 51.592741, 'longitude': 0.083857}},
 {'BusinessName': 'Pepperman’s Deli',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad16ae'),
  'geocode': {'latitude': 51.592741, 'longitude': 0.083856}},
 {'BusinessName': 'Adas',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad16d0'),
  'geocode': {'latitude': 51.593497, 'longitude': 0.084368}},
 {'BusinessName': 'Cakebox',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad16d1'),
  'geocode': {'latitude': 51.593497, 'longitude': 0.084368}},
 {'BusinessName': 'The Sharod',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad16d2'),
  'geocode': {'latitude': 51.593497, 'longitude': 0.084368}},
 {'BusinessName': 'Fireaway Pizza',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad16e3'),
  'geocode': {'latitude': 51.5935179, 'longitude': 0.0842349}},
 {'BusinessName': 'Super Fags & Mags',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad16f0'),
  'geocode': {'latitude': 51.5943374633789, 'longitude': 0.0845799967646599}},
 {'BusinessName': 'Capricho',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1713'),
  'geocode': {'latitude': 51.5948333740234, 'longitude': 0.0845009982585907}},
 {'BusinessName': 'The Old Maypole Public House',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad17ec'),
  'geocode': {'latitude': 51.601299, 'longitude': 0.084031}},
 {'BusinessName': 'Sellan Food and Wine',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad180b'),
  'geocode': {'latitude': 51.602327, 'longitude': 0.083877}},
 {'BusinessName': 'Co-op',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad180d'),
  'geocode': {'latitude': 51.602327, 'longitude': 0.083877}},
 {'BusinessName': 'Belmont Lodge',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad18e0'),
  'geocode': {'latitude': 51.607945, 'longitude': 0.083022}},
 {'BusinessName': 'Debden Sports Club',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1c21'),
  'geocode': {'latitude': 51.64233, 'longitude': 0.083181}},
 {'BusinessName': "FABIO's",
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1c5f'),
  'geocode': {'latitude': 51.6454943, 'longitude': 0.0838281}},
 {'BusinessName': 'Iceland Frozen Foods Plc',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1c8f'),
  'geocode': {'latitude': 51.64754, 'longitude': 0.083998}},
 {'BusinessName': 'The Broadway Fried Chicken & Pizza',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1c91'),
  'geocode': {'latitude': 51.64754, 'longitude': 0.083998}},
 {'BusinessName': 'Freshwaters',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1c93'),
  'geocode': {'latitude': 51.64754, 'longitude': 0.083998}},
 {'BusinessName': 'BP Chigwell SF Connect',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1c94'),
  'geocode': {'latitude': 51.64754, 'longitude': 0.083998}},
 {'BusinessName': 'T & J Kelly',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1c96'),
  'geocode': {'latitude': 51.64754, 'longitude': 0.083998}},
 {'BusinessName': 'Efezade',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1c97'),
  'geocode': {'latitude': 51.6475410461426, 'longitude': 0.0839980021119118}},
 {'BusinessName': 'Cafe Bengal',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1c9e'),
  'geocode': {'latitude': 51.648257, 'longitude': 0.084118}},
 {'BusinessName': 'Greggs Bakers',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1c9f'),
  'geocode': {'latitude': 51.648257, 'longitude': 0.084118}},
 {'BusinessName': 'K & P Fresh Foods Limited',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1ca0'),
  'geocode': {'latitude': 51.648257, 'longitude': 0.084118}},
 {'BusinessName': 'El Kaz Taverna',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1ca2'),
  'geocode': {'latitude': 51.648257, 'longitude': 0.084118}},
 {'BusinessName': 'Subway',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad1ca3'),
  'geocode': {'latitude': 51.648257, 'longitude': 0.084118}},
 {'BusinessName': 'Milwards Primary School & Nursery',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad21ac'),
  'geocode': {'latitude': 51.748113, 'longitude': 0.083481}},
 {'BusinessName': 'Ashlyns Organics Ltd At Jerounds Primary School',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad221c'),
  'geocode': {'latitude': 51.756472, 'longitude': 0.083141}},
 {'BusinessName': 'Cork & Skewer / Wings & Thingz',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad22c5'),
  'geocode': {'latitude': 51.7659044, 'longitude': 0.0840072}},
 {'BusinessName': 'Best One',
  'RatingValue': 5,
  '_id': ObjectId('6601f238cc03b55857ad22ca'),
  'geocode': {'latitude': 51.7659547, 'longitude': 0.0837052}}]

In [13]:
# Convert result to Pandas DataFrame
rating5_df = pd.json_normalize(results2)
rating5_df

,_id,BusinessName,RatingValue,geocode.longitude,geocode.latitude
0,6601f236cc03b55857accd90,Ancient and Brave,5,0.083595,51.011101
1,6601f237cc03b55857acecc8,Texaco Service Station,5,0.084469,51.358485
2,6601f237cc03b55857acfb52,Eltham Green School Nursery Ltd,5,0.084577,51.448448
3,6601f237cc03b55857acfb6e,Gill's eells,5,0.084446,51.448828
4,6601f237cc03b55857acfbab,Monkey Puzzle Eltham,5,0.084261,51.450450
...,...,...,...,...,...
79,6601f238cc03b55857ad1ca3,Subway,5,0.084118,51.648257
80,6601f238cc03b55857ad21ac,Milwards Primary School & Nursery,5,0.083481,51.748113
81,6601f238cc03b55857ad221c,Ashlyns Organics Ltd At Jerounds Primary School,5,0.083141,51.756472
82,6601f238cc03b55857ad22c5,Cork & Skewer / Wings & Thingz,5,0.084007,51.765904
83,6601f238cc03b55857ad22ca,Best One,5,0.083705,51.765955

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [14]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
match_query = {'$match' : {'scores.Hygiene': 0}
              }
# 2. Groups the matches by Local Authority
group_query= {'$group': {'_id': {"local Authority": "$LocalAuthorityName"},
                        'count': { '$sum':1}
                        }
             }
# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': {'count': -1}}

pipeline = [match_query, group_query, sort_values]

results = list(establishments.aggregate(pipeline))
# Print the number of documents in the result
pprint(results[0:10])
# Print the first 10 results
print(f'the number of documents found is {len(list(results))}')

[{'_id': {'local Authority': 'Thanet'}, 'count': 1130},
 {'_id': {'local Authority': 'Greenwich'}, 'count': 882},
 {'_id': {'local Authority': 'Maidstone'}, 'count': 713},
 {'_id': {'local Authority': 'Newham'}, 'count': 711},
 {'_id': {'local Authority': 'Swale'}, 'count': 686},
 {'_id': {'local Authority': 'Chelmsford'}, 'count': 680},
 {'_id': {'local Authority': 'Medway'}, 'count': 672},
 {'_id': {'local Authority': 'Bexley'}, 'count': 607},
 {'_id': {'local Authority': 'Southend-On-Sea'}, 'count': 586},
 {'_id': {'local Authority': 'Tendring'}, 'count': 542}]
the number of documents found is 55

In [15]:
# Convert the result to a Pandas DataFrame
hygiene_df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
hygiene_df.count()
# Display the first 10 rows of the DataFrame
hygiene_df.head(10)

   count _id.local Authority
0   1130              Thanet
1    882           Greenwich
2    713           Maidstone
3    711              Newham
4    686               Swale
5    680          Chelmsford
6    672              Medway
7    607              Bexley
8    586     Southend-On-Sea
9    542            Tendring